body {
    background-image: url(../assets/images/bg-swirls.png);
    background-position: right bottom;
    background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Calibri', Verdana, sans-serif;
}

dl {
	margin-bottom: 0px;
}

dt {
	font-weight: 500 !important;
}

dd {
	margin-left: 37px;
}

.active {
	color: #333399 !important;
	text-decoration: none;
}

.btn-active, .btn-active:active {
	background-color: #7ac143;
	padding-bottom: 3px;
	padding-top: 4px;
	border-radius: 9px;
	color: #333399 !important;
	text-decoration: none !important;
}

.btn-active:hover {
	color: rgba(51, 51, 153, 0.9);
}

.open {
	display: block !important;
}
@media(min-width:992px){
	.open {
		display: none !important;
	}
}

.header-content-space {
	margin-top: 190px;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.pl0 {
	padding-left: 0px;
}

.mb0 {
	margin-bottom: 0px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* LARGE RESOLUTION */
.lg-10 {
	width: 100%;
	/*float: left;*/
	position: relative;
}

.lg-2 {
	width: 20%;
	float: left;
	position: relative;
}

.row-top-lg {
	width: 23%;
	float: left;
	position: relative;
}

.row-top-lg:nth-last-child(2) {
	width: 17%;
	float: left;
	position: relative;
}

.row-top-lg:last-child {
	width: 14%;
	float: left;
	position: relative;
}

.row-bottom-lg {
	float: left;
	position: relative;
}

@media(min-width:1825px){
	.row-third span:nth-last-child(2) {
		text-align: center;
	}
}

/* MEDIUM RESOLUTION */
@media(min-width:1240px) and (max-width:1824px){
	.md {
		width: 33% !important;
		margin: 15px 0;
	}
}

/* SMALL RESOLUTION */
@media(min-width:768px) and (max-width:1239px){
	.sm {
		width: 50% !important;
		margin: 15px 0;
		text-align: inherit !important;
	}
}

/* XS RESOLUTION */
@media(max-width:768px){
	.xs-10 {
		width: 100% !important;
		position: relative;
		margin: 15px 0;
		text-align: inherit !important;
	}
}