/* HEAD */
	.topbar {
		background-image: url(../assets/images/topbar.png);
		position: relative;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		/*background-attachment: fixed;*/
		height: 18px;
		width: 100%;
	}

	.navbar {
		width: 90%;
		display: block;
		margin: 30px 0 30px 10%;
		height: 150px;
		position: relative;
	}
	@media(min-width:993px) and (max-width:1200px){
		.navbar {
			margin: 20px 0 30px 5%;
		    height: 110px;
			width: 95%;
		}
	}
	@media(min-width:769px) and (max-width:992px){
		.navbar {
			margin: 10px 0px 0px 20px;
			height: 150px;
			width: 100%;
		}
	}
	@media(max-width:768px){
		.navbar {
			margin: 0px 20px;
			height: 100px;
			width: initial;
		}
	}

	.navbar .logobox .logo {
		position: absolute;
		bottom: 0;
	}
	@media(min-width:993px) and (max-width:1200px){
		.navbar .logobox .logo {
			width: 40%;
		}
	}
	@media(min-width:769px) and (max-width:992px){
		.navbar .logobox .logo {
			width: 90%;
			position: relative;
			margin-left: 5%;
		}
	}
	@media(max-width:768px){
		.navbar .logobox .logo {
			width: 50%;
			margin-left: 5%;
		}
	}

	.navbar .menubar .menu {
		list-style: none;
		background-color: #d1d2d4;
		height: 24px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-right: 11%;
		padding-left: 0px;
		margin-top: 85px;
	}
	@media(min-width:993px) and (max-width:1200px){
		.navbar .menubar .menu {
			padding-right: 10px;
			margin-top: 50px;
			margin-right: -1px;
		}
	}
	@media(min-width:769px) and (max-width:992px){
		.navbar .menubar .menu {
			display: none;
		}
	}
	@media(max-width:768px){
		.navbar .menubar .menu {
			display: none;
		}
	}

	.navbar .menubar .menu li {
		display: inline-block;
		text-transform: uppercase;
		padding-top: 3px;
	}

	.navbar .menubar .menu li a:hover, .navbar .menubar .menu li a:active {
		color: #333399;
		background-color: #7ac143;
		padding-bottom: 3px;
		padding-top: 4px;
		border-radius: 9px;
		text-decoration: none;
	}

	.navbar .menubar .menu li a {
		color: #000000;
		font-weight: 700;
		padding-right: 20px;
		padding-left: 20px;
		text-decoration: none;
	}


	/* MENU MD */
	.navbar .menubar .menu-md {
		display: none;
		list-style: none;
		/*background-color: #d1d2d4;*/
		/*height: 24px;*/
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-left: 0px;
		margin-top: 0px;
	}
	@media(min-width:769px) and (max-width:992px){
		.navbar .menubar .menu-md {
			display: inline-block;
			margin-right: 19px;
		}
	}
	@media(max-width:768px){
		.navbar .menubar .menu-md {
			display: none;
		}
	}

	.navbar .menubar .menu-md li {
		display: block;
		text-transform: uppercase;
		margin-top: 3px;
		background-color: #d1d2d4;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.navbar .menubar .menu-md li:hover, .navbar .menubar .menu-md li:active {
		color: #333399;
		background-color: #7ac143;
		/*padding-bottom: 3px;*/
		/*padding-top: 4px;*/
		border-top-left-radius: 9px;
		border-bottom-left-radius: 9px;
		text-decoration: none;
	}

	.navbar .menubar .menu-md li a {
		color: #000000;
		font-weight: 700;
		padding: 3px 20px;
		text-decoration: none;
		line-height: 24px;
		height: 24px;
	}
	/* MENU MD */

	.menu-xs-btn {
		display: none !important;
		color: #333333;
	}
	@media(max-width:768px){
		.menu-xs-btn {
			display: inline-block !important;
			font-size: 35px;
			padding: 30px;
			margin-top: 5px;
		}
	}

	.menu-xs-btn:hover {
		color: #333399;
	}
	
	.menu-xs {
		display: none;
		list-style: none;
		background-color: #d1d2d4;
		/*background-color: rgba(255, 255, 255, 0.5);*/
		padding: 0;
		font-size: 15px;
		transition: 0.2s;
		/*margin-top: 10px;*/
		width: 100%;
		position: relative;
		float: left;
	}
	@media(min-width:992px){
		.menu-xs {
			/*display: none !important;*/
		}
	}
	@media(max-width:992px){
		.menu-xs {
			/*font-size: 18px;*/
		}
	}

	.menu-xs li {
		padding: 0 50px;
	}

	.menu-xs li:hover, .menu-xs li:active {
		color: #333399;
		background-color: #7ac143;
	}

	.menu-xs a {
		text-decoration: none;
		color: #333333;
		font-size: 20px;
	}

	.circle1, .circle2, .circle3, .circle4, .circle5 {
		height: 10px;
		width: 10px;
		background-color: #c6cee0;
		border-radius: 50%;
		margin: 10px auto;
	}
	@media(max-width:992px){
		.circle1, .circle2, .circle3, .circle4, .circle5 {
			display: none;
		}
	}

	.circle-highlight, .circle-highlight-active {
		background-color: #25408f;
	}
/* ----- HEAD ----- */


/* ----- MAIN ----- */
	.main {
		width: 80%;
		margin: 100px auto 30px;
	}
	@media(min-width:993px) and (max-width:1200px){
		.main {
			width: 90%;
			margin: 90px auto 30px;
			/*margin: 50px 5% 30px auto;*/
		}
	}
	@media(min-width:769px) and (max-width:992px){
		.main {
			width: 90%;
			/*margin: 50px auto 30px;*/
			margin: 50px 5% 30px auto;
		}
	}
	@media(max-width:768px){
		.main {
			width: 90%;
			margin: 50px 2% 30px auto;
		}
	}

	.title {
		width: 70%;
		height: 50px;
		background: #7ac143; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #7ac143 , transparent); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #7ac143, transparent); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #7ac143, transparent); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #7ac143 , transparent); /* Standard syntax */
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding-top: 8px;
		padding-left: 15px;
		margin-top: 50px;
	}
	@media(max-width:511px){
		.title {
			padding-top: 3px;
		}
	}

	.title h2 {
		color: #333399;
		margin-top: 0px;
	}
	@media(min-width:769px) and (max-width:992px){
		.title h2 {
			font-size: 26px;
		}
	}
	@media(min-width:512px) and (max-width:580px){
		.title h2 {
			font-size: 26px;
		}
	}
	@media(max-width:511px){
		.title h2 {
			font-size: 20px;
		}
	}

	.content {
		font-size: 15px;
	}
	@media(min-width:868px) and (max-width:1200px){
		.content {
			padding-left: 0px;
		}
		.content div {
			padding-left: 0px;
		}
		.list-cont {
			width: 100%;
		}
	}

	.content, .contact-content {
		padding-top: 15px;
		float: none;
	}
	@media(min-width:868px) and (max-width:1200px){
		.contact-content div {
			padding-left: 0px;
		}
	}

	.about ul li {
		margin-bottom: 15px;
	}

	.about-img {
		z-index: 9999;
		margin-top: -50px;
	}
	@media(min-width:769px) and (max-width:992px){
		.about-img {
			width: 380px;
		}
	}

	.about-img img {
		float: right;
	}
	@media(min-width:993px) and (max-width:1200px){
		.about-img img {
		    width: 85%;
		}
	}
	@media(min-width:769px) and (max-width:992px){
		.about-img img {
			width: 100%;
		}
	}
	@media(max-width:768px){
		.about-img img {
			display: none;
		}
	}
	
	.img-xs img {
		display: none;
		width: 40%;
	}

	.img-xs {
		display: none;
		text-align: center;
	}
	@media(max-width:768px){
		.img-xs, .img-xs img {
			display: block;
			margin: auto;
		}
	}

	.about ul, .equipment ul, .product ul {
		list-style-image: url('../assets/images/greenbox.jpg');
		font-size: 15px;
		padding-left: 0;
	}

	.about ul li, .equipment ul li, .product ul li {
		padding-left: 5px;
	}

	.contact-content ul {
		list-style: none;
		padding-left: 0px;
	}

	.contact-content .contact-info {
		margin-bottom: 30px;
	}

	.clients {
		padding-left: 0px;
		padding-right: 0px;
	}

	.clients .row-top {
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.clients .row-top span {
		display: inline-block;
		padding: 0 10px;
	}

	.clients .row-top span:first-child {
		padding-left: 0px !important;
	}
	
	.clients .row-top span:last-child {
		padding-right: 0px !important;
	}

	.clients .row-top span img {
		height: 75px;
	}

	.clients .row-second {
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.clients .row-second span {
		display: inline-block;
		padding: 0 10px;
	}

	.clients .row-second span img {
		height: 75px;
	}

	.clients .row-third {
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.clients .row-third span {
		display: inline-block;
		padding: 0 10px;
	}

	.clients .row-third span img {
		height: 75px;
	}

	.clients .row-bottom {
		display: inline-block;
		margin-top: 30px;
		/*width: 100%;*/
	}
	@media(max-width:768px){
		.clients .row-top {
			margin-bottom: 0px;
		}

		.clients .row-second {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.clients .row-third {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.clients .row-bottom {
			margin-top: 0px;
		}

	}

	.clients .row-bottom span {
		display: inline-block;
		padding: 0 15px;
		width: 11.5%;
		text-align: center;
	}
	@media(max-width:1724px){
		.clients .row-bottom .lg-scrn {
			/*display: none;*/
		}
	}
	.clients .row-bottom span:last-child {
		width: 6%;
	}

	.clients .row-bottom span img {
		height: 100px;
	}

	#map_div {
		height: 480px;
		margin-bottom: 10px;
	}
/* ----- MAIN ----- */


/* ----- FOOTER ----- */
	footer {
		min-height: 50px;
		/*border-top: 5px dashed #333333;*/
		text-align: left;
		font-size: 12px;
		padding-top: 15px;
		/*margin-top: 50px;*/
		width: 80%;
		margin: auto;

		background-image: linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 0%);
		background-position: top;
		background-size: 10px 5px;
		background-repeat: repeat-x;
	}
	@media(min-width:993px) and (max-width:1200px){
		footer {
			width: 90%;
		}
	}
	@media(min-width:769px) and (max-width:992px){
		footer {
			width: 90%;
		}
	}
	@media(max-width:768px){
		footer {
			width: 90%;
		}
	}

	footer .footer-menu {
		padding-left: 0px;
		float: left;
	}
	@media(max-width:992px){
		footer .footer-menu {
			text-align: center;
			float: none;
		}
	}

	footer .footer-menu li {
		display: inline-block;
		padding: 0px 10px;
	}

	footer .footer-menu li a {
		color: #dadada;
		text-align: center;
	}

	footer .copyright {
		float: right;
		padding-right: 10px;
		margin-bottom: 20px;
	}
	@media(max-width:992px){
		footer .copyright {
			text-align: center;
			float: none;
			margin-bottom: 15px;
		}
	}
/* ----- FOOTER ----- */
