<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Brainchild Marketing Services</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/custom.css" />
</head>
<body ng-controller="mainController">
	<!-- Header -->
	<div class="topbar"></div>
	<div class="navbar">
		<div class="logobox pull-left">
			<a href="#!about" ng-click="menu=1">
				<img src="assets/images/logo.png" alt="Brainchild Marketing Services" class="logo img-responsive">
			</a>
		</div>
		<div class="menubar">
			<ul class="menu pull-right">
				<li>
					<a href="#!about" ng-class="{'btn-active': menu == 1}">About Us</a>
					<div class="circle1" ng-class="{'circle-highlight-active': menu == 1}"></div>
				</li>
				<li>
					<a href="#!equipment" ng-class="{'btn-active': menu == 2}">Equipment</a>
					<div class="circle2" ng-class="{'circle-highlight-active': menu == 2}"></div>
				</li>
				<li>
					<a href="#!product" ng-class="{'btn-active': menu == 3}">Product</a>
					<div class="circle3" ng-class="{'circle-highlight-active': menu == 3}"></div>
				</li>
				<li>
					<a href="#!clients" ng-class="{'btn-active': menu == 4}">Clients</a>
					<div class="circle4" ng-class="{'circle-highlight-active': menu == 4}"></div>
				</li>
				<li>
					<a href="#!contact" ng-class="{'btn-active': menu == 5}">Contact</a>
					<div class="circle5" ng-class="{'circle-highlight-active': menu == 5}"></div>
				</li>
			</ul>
			<ul class="menu-md pull-right">
				<li>
					<a href="#!about" ng-class="{'active': menu == 1}">About Us</a>
				</li>
				<li>
					<a href="#!equipment" ng-class="{'active': menu == 2}">Equipment</a>
				</li>
				<li>
					<a href="#!product" ng-class="{'active': menu == 3}">Product</a>
				</li>
				<li>
					<a href="#!clients" ng-class="{'active': menu == 4}">Clients</a>
				</li>
				<li>
					<a href="#!contact" ng-class="{'active': menu == 5}">Contact</a>
				</li>
			</ul>
		</div>
			<div class="mobile-menu">
				<i class="glyphicon glyphicon-menu-hamburger menu-xs-btn pull-right"></i>
			</div>
	</div>
	<ul class="menu-xs">
		<li>
			<a href="#!about" class="menu-xs-links">About Us</a>
		</li>
		<li>
			<a href="#!equipment" class="menu-xs-links">Equipment</a>
		</li>
		<li>
			<a href="#!product" class="menu-xs-links">Product</a>
		</li>
		<li>
			<a href="#!clients" class="menu-xs-links">Clients</a>
		</li>
		<li>
			<a href="#!contact" class="menu-xs-links">Contact</a>
		</li>
	</ul>

	<!-- Main -->
	<div class="main">
		<div ng-view></div>
	</div>
	
	<!-- Footer -->
	<footer>
		<div>167 P. Castillo Street, Maypajo, Caloocan City, Metro Manila, Philippines,1410</div>
		<div>Telephone: (632) 788-6277 • (632) 287-8577</div>
		<div>Telefax: (632) 398-3855</div>
		<div>Email: rowenabox@brainchild.ph</div>
		<div class="copyright">
			Copyright © 2017 Brainchild Marketing Services
		</div>
	</footer>
	<script src="lib/jquery/jquery-1.11.3.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src='lib/angular/angular-route.min.js'></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/script.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmOJggq4izksfmMhei-1c22mZtm4TRk30"></script>
</body>
</html>