body {
	height: 100%;
}
.main {
	/*min-height: 768px;*/
	min-height: 100%;
	position: relative;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	top: 100px;
}
.promo{
	text-align: center;
	margin-bottom: 80px;
}
.logo {
	margin: 75px 0;
}
.brand {
	font-weight: 700;
}
.contact {
	position: relative;
	left: 45%;
	width: 300px;
}
.copyright {
	text-align: center;
}
footer {
	width: 100%;
	margin-top: 300px;
	/*bottom: 20px !important;*/
}