<div class="about-img pull-right">
	<img src="assets/images/about-img.png">
</div>
<div class="title">
	<h2>COMPANY OVERVIEW</h2>
</div>
<div class="container">
	<div class="col-md-6 content about">
	<ul>
		<li>
			<b>Brainchild Marketing Services (BMS)</b> is a privately owned Filipino company that aims to be the leader in providing the need for fast and affordable office supplies. It aspires to provide a planned and well-timed replenishment of office needs to its clients. It provides free delivery of office supplies across all types of clients.
		</li>
		<li>
			<b>BMS</b> is one of the Manila's largest suppliers of uniforms, corporate giveaways, office equipment, and workplace supplies. It serves various industries, namely: business process outsourcing (BPO) and call centers companies, manufacturing corporations, information technology firms, fast food chains and others. It is committed to continuously look for and produce new products that are of good quality at competitive prices.
		</li>
		<li>
			<b>BMS</b> is known to prioritize customer satisfaction above anything else. Everyone in BMS knows that it has to work hand-in-hand with its clients as growth of its partners is of equal importance. As an add-on service to its partners and clients, it gives impeccable service through after-sales support. At BMS, the business is not to sell products alone but provide a total pro-customer package by enhancing business-to-business relations.
		</li>
		</ul>
	</div>
</div>
<div class="img-xs">
	<img src="assets/images/about-img.png">
</div>