<div class="title">
	<h2>PARTIAL LIST OF CLIENTS</h2>
</div>
<!-- <div class="container"> -->
	<div class="col-md-12 content clients">
		<div class="row-top lg-10">
			<span class="row-top-lg md sm xs-10">
				<img src="assets/images/clients/suzuki.png">
			</span>
			<span class="row-top-lg md sm xs-10">
				<img src="assets/images/clients/ropali.png">
			</span>
			<span class="row-top-lg md sm xs-10">
				<img src="assets/images/clients/bosch.png">
			</span>
			<span class="row-top-lg md sm xs-10">
				<img src="assets/images/clients/ur.png">
			</span>
			<span class="row-top-lg md sm xs-10">
				<img src="assets/images/clients/vxi.png">
			</span>
		</div>
		<div class="lg-10 row-second">
			<span class="lg-2 md sm xs-10">
				<img src="assets/images/clients/msi.png">
			</span>
			<span class="lg-2 md sm xs-10 center">
				<img src="assets/images/clients/miescor.png">
			</span>
			<span class="lg-2 md sm xs-10 center">
				<img src="assets/images/clients/sodexo.png">
			</span>
			<span class="lg-2 md sm xs-10">
				<img src="assets/images/clients/solutions.png" style="height: 60px;">
			</span>
			<span class="lg-2 md sm xs-10 right">
				<img src="assets/images/clients/newcore.png" style="height: 120px;">
			</span>
		</div>
		<div class="lg-10 row-third">
			<span class="lg-2 md sm xs-10">
				<img src="assets/images/clients/egs.png">
			</span>
			<span class="lg-2 md sm xs-10 center">
				<img src="assets/images/clients/cti.png">
			</span>
			<span class="lg-2 md sm xs-10 center">
				<img src="assets/images/clients/vfs.png">
			</span>
			<span class="lg-2 md sm xs-10">
				<img src="assets/images/clients/chuosenko.png">
			</span>
			<span class="lg-2 md sm xs-10 right">
				<img src="assets/images/clients/oceanpark.png">
			</span>
		</div>
		<div class="lg-10 row-bottom">
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/aa.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/dell.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/british.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/remax.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/stmarys.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/letran.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/evi.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/jg.png">
			</span>
			<span class="row-bottom-lg md sm xs-10">
				<img src="assets/images/clients/feu.png">
			</span>
		</div>
	</div>
<!-- </div> -->
