<div class="about-img pull-right">
	<img src="assets/images/contact-img.png">
</div>
<div class="title">
	<h2>CONTACT INFORMATION</h2>
</div>
<div class="container">
	<div class="col-md-6 contact-content">
		<div class="col-md-6">
			<ul>
				<li>Rowena S. Box</li>
				<li>Finance Manager</li>
				<li>
					<dl>
						<dt>Email: rowenabox@brainchild.ph</dt>
						<dd>jana10132000@yahoo.com</dd>
					</dl>
				</li>
				<li>Telephone: (632) 398-3855</li>
				<li>Mobile: +63 916 5758223</li>
			</ul>
			<ul>
				<li>Kevin Roger Samonte</li>
				<li>Assistant Manager</li>
				<li>Email: samonte.kevinroger@yahoo.com</li>
				<li>Telephone: (632) 287-8577</li>
				<li>Mobile: +63 927 5900990</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul>
				<li>Monica Fernando</li>
				<li>Production Manager</li>
				<li>
					<dl>
						<dt>Email: rowenabox@brainchild.ph</dt>
						<dd>mfernando.twenty@yahoo.com</dd>
					</dl>
				</li>
				<li>Telephone: (632) 287-8577</li>
				<li>Mobile: +63 927 5910127</li>
			</ul>
			<ul>
				<li>Roselle Samonte</li>
				<li>Marketing Manager</li>
				<li>Email: roselle_samonte@yahoo.com</li>
				<li>Telephone: (632) 542-5991</li>
				<li>Mobile: +63 905 2458627</li>
			</ul>
		</div>
		<div class="col-md-12">
		<div id="map_div"></div>
			<ul>
				<li>Office Address: 167 P. Castillo Street, Maypajo, Caloocan City, Metro Manila, Philippines,1410</li>
				<li>Telephone: (632) 788-6277 • (632) 287-8577</li>
				<li>Telefax: (632) 398-3855</li>
				<li>Website: www.brainchild.ph</li>
			</ul>
		</div>
	</div>
</div>
<div class="img-xs">
	<img src="assets/images/contact-img.png">
</div>