<div class="about-img pull-right">
	<img src="assets/images/equipment-img.png">
</div>
<div class="title equip-title">
	<h2>MACHINERY & EQUIPMENT</h2>
</div>
<div class="container">
	<div class="col-md-6 content equipment">
		<ul>
			<li>30 High Speed Sewing Machines</li>
			<li>5 Piping & Hemming Machines</li>
			<li>2 Double top Sewing Machine</li>
			<li>8 Over lock Machines</li>
			<li>2 Button Hole</li>
			<li>2 Button Sew</li>
			<li>2 Cutting Machine</li>
			<li>1 Embroidery Machine (20 heads Barudan format)</li>
			<li>250 sq. meter printing area with complete silk screen</li>
			<li>500 sq. meter Construction Area</li>
			<li>2 units HP Plotter</li>
			<li>3 24" Cutter Plotter</li>
			<li>4 Heat Press</li>
		</ul>
	</div>
</div>
<div class="img-xs">
	<img src="assets/images/equipment-img.png">
</div>