<div class="about-img pull-right">
	<img src="assets/images/product-img.png">
</div>
<div class="title">
	<h2>PRODUCT LINE</h2>
</div>
<div class="container">
	<div class="col-md-6 content product">
		<div class="col-md-6">
			<ul class="mb0">
				<li>T-shirt</li>
				<li>Jacket & Vest</li>
				<li>Office Uniforms</li>
				<li>Polo Jackets</li>
				<li>Caps</li>
				<li>Bags</li>
				<li>Jogging Pants</li>
				<li>Apron & Cutting Cape</li>
				<li>Scrub Suit</li>
				<li>Blazers</li>
				<li>Cover All</li>
				<li>Blanket & Pillow</li>
				<li>Mugs</li>
				<li>Clock</li>
			</ul>
		</div>
		<div class="col-md-6 list-cont">
			<ul>
				<li>Pens</li>
				<li>Keychain</li>
				<li>Umbrella</li>
				<li>Calendar</li>
				<li>Desk Items</li>
				<li>Swiss Knife</li>
				<li>Car shades</li>
				<li>Id lace</li>
				<li>Planner & Diaries</li>
				<li>Modules</li>
				<li>Made to order tables and chairs</li>
				<li>Made to order different kind of beds</li>
			</ul>
		</div>
	</div>
</div>
<div class="img-xs">
	<img src="assets/images/product-img.png">
</div>