<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Brainchild Marketing Services</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/custom.css" />
</head>
<body ng-controller="mainController">
	<!-- Header -->
	<div class="topbar"></div>
	<div class="navbar">
		<div class="logobox pull-left">
			<a href="#!about" ng-click="menu=1">
				<img src="assets/images/logo.png" alt="Brainchild Marketing Services" class="logo img-responsive">
			</a>
		</div>
		<div class="menubar">
			<ul class="menu pull-right">
				<li>
					<a href="#!about" ng-class="{'active': menu == 1}">About Us</a>
					<div class="circle1" ng-class="{'active': menu == 1}"></div>
				</li>
				<li>
					<a href="#!equipment" ng-class="{'active': menu == 2}">Equipment</a>
					<div class="circle2"></div>
				</li>
				<li>
					<a href="#!product" ng-class="{'active': menu == 3}">Product</a>
					<div class="circle3"></div>
				</li>
				<li>
					<a href="#!clients" ng-class="{'active': menu == 4}">Clients</a>
					<div class="circle4"></div>
				</li>
				<li>
					<a href="#!contact" ng-class="{'active': menu == 5}">Contact</a>
					<div class="circle5"></div>
				</li>
			</ul>
			<ul class="menu-md pull-right">
				<li>
					<!-- <div class="circle1 pull-left"></div> -->
					<a href="#!about" ng-class="{'active': menu == 1}">About Us</a>
				</li>
				<li>
					<!-- <div class="circle2 pull-left"></div> -->
					<a href="#!equipment" ng-class="{'active': menu == 2}">Equipment</a>
				</li>
				<li>
					<!-- <div class="circle3 pull-left"></div> -->
					<a href="#!product" ng-class="{'active': menu == 3}">Product</a>
				</li>
				<li>
					<!-- <div class="circle4 pull-left"></div> -->
					<a href="#!clients" ng-class="{'active': menu == 4}">Clients</a>
				</li>
				<li>
					<!-- <div class="circle5 pull-left"></div> -->
					<a href="#!contact" ng-class="{'active': menu == 5}">Contact</a>
				</li>
			</ul>
		</div>
			<div class="mobile-menu">
				<i class="glyphicon glyphicon-menu-hamburger menu-xs-btn pull-right"></i>
			</div>
	</div>
	<ul class="menu-xs">
		<li>
			<a href="#!home" class="menu-xs-links">Home</a>
		</li>
		<li>
			<a href="#!about" class="menu-xs-links">About</a>
		</li>
		<li>
			<a href="#!services" class="menu-xs-links">Services</a>
		</li>
		<li>
			<a href="#!clients" class="menu-xs-links">Clients</a>
		</li>
		<li>
			<a href="#!contact" class="menu-xs-links">Contact Us</a>
		</li>
	</ul>

	<!-- Main -->
	<div class="main">
		<div class="about-img pull-right">
			<img src="assets/images/about-img.png">
		</div>
		<div class="title">
			<h2>COMPANY OVERVIEW</h2>
		</div>
		<div class="container">
			<div class="col-md-6 content about">
			<ul>
				<li>
					<b>Brainchild Marketing Services</b> is a private Filipino company, which aims to be the leading company to answer the need for fast and affordable <span class="bold italic">office supplies stock</span> thata provides a scheduled timely replenishment of office needs. We are free delivery office supplies depot with low cost guarantee and with fast and accurate service for all types of industry.
				</li>
				<li>
					We are one of the Manila's largest suppliers of uniforms, corporate giveaways, office equipment and supplies. We cover all types of industries; Call Centers, manufacturing industries, information technology firms, fast food and more. We are committed to continuously source and produce new products that are good quality at competitive prices.
				</li>
				<li>
					Customer Satisfaction, a term often used but seldom met, is a goal we work hardest and aim to consistently achieve by working hand-in-hand with the clients. We give impeccable service through after-sales support. We do not sell products alone but provide a total pro-customer package.
				</li>
				</ul>
			</div>
		</div>
		<div class="about-img-xs">
			<img src="assets/images/about-img.png">
		</div>
	</div>
	
	<!-- Footer -->
	<footer>
		<div>167 P. Castillo Street, Maypajo, Caloocan City, Metro Manila, Philippines,1410</div>
		<div>Telephone: (632) 788-6277 • (632) 287-8577</div>
		<div>Telefax: (632) 398-3855</div>
		<div>Email: rowenabox@brainchild.ph</div>
		<div class="copyright">
			Copyright © 2017 Brainchild Marketing Services
		</div>
	</footer>
	<script src="lib/jquery/jquery-1.11.3.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src='lib/angular/angular-route.min.js'></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/script.js"></script>
</body>
</html>