<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Brainchild Marketing Services</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/custom.css" />
</head>
<body ng-controller="mainController">
	<!-- Header -->
	<div class="topbar"></div>
	<div class="navbar">
		<div class="logobox pull-left">
			<a href="#!home" ng-click="menu=0">
				<img src="assets/images/logo.png" alt="Brainchild Marketing Services" class="logo">
			</a>
		</div>
		<div class="menubar">
			<ul class="menu pull-right">
				<li>
					<a href="#!aboutus" ng-class="{'active': menu == 1}" ng-click="menu=1;changeTitle(1)">About Us</a>
					<div class="circle1"></div>
				</li>
				<li>
					<a href="#!equipment" ng-class="{'active': menu == 2}" ng-click="changeTitle(2);menu=2">Equipment</a>
					<div class="circle2"></div>
				</li>
				<li>
					<a href="#!product" ng-class="{'active': menu == 3}" ng-click="changeTitle(3);menu=3">Product</a>
					<div class="circle3"></div>
				</li>
				<li>
					<a href="#!clients" ng-class="{'active': menu == 4}" ng-click="changeTitle(4);menu=4">Clients</a>
					<div class="circle4"></div>
				</li>
				<li>
					<a href="#!contact" ng-class="{'active': menu == 5}" ng-click="changeTitle(5);menu=5">Contact</a>
					<div class="circle5"></div>
				</li>
			</ul>
		</div>
	</div>

	<!-- Main -->
	<div class="main">
		<div class="about-img pull-right">
			<img src="assets/images/contact-img.png">
		</div>
		<div class="title">
			<h2>CONTACT INFORMATION</h2>
		</div>
		<div class="container">
			<div class="col-md-6 contact-content">
				<div class="col-md-6">
					<ul>
						<li>Rowena S. Box</li>
						<li>Finance Manager</li>
						<li>Email: rowenabox@brainchild.ph</li>
						<li>Telephone: (632) 398-3855</li>
						<li>Mobile: +63 916 5758223</li>
					</ul>
					<ul>
						<li>Kevin Roger Samonte</li>
						<li>Assistant Manager</li>
						<li>Email: rowenabox@brainchild.ph</li>
						<li>Telephone: (632) 287-8577</li>
						<li>Mobile: +63 927 5900990</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li>Monica Fernando</li>
						<li>Production Manager</li>
						<li>Email: rowenabox@brainchild.ph</li>
						<li>Telephone: (632) 287-8577</li>
						<li>Mobile: +63 927 5910127</li>
					</ul>
					<ul>
						<li>Roselle Samonte</li>
						<li>Marketing Manager</li>
						<li>Email: rowenabox@brainchild.ph</li>
						<li>Telephone: (632) 542-5991</li>
						<li>Mobile: +63 905 2458627</li>
					</ul>
				</div>
				<div class="col-md-12">
				<div id="map_div"></div>
				<!-- <img src="assets/images/map.jpg"> -->
					<ul>
						<li>Office Address: 167 P. Castillo Street, Maypajo, Caloocan City, Metro Manila, Philippines,1410</li>
						<li>Telephone: (632) 788-6277 • (632) 287-8577</li>
						<li>Telefax: (632) 398-3855</li>
						<li>Website: www.brainchild.ph</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer>
		<div>167 P. Castillo Street, Maypajo, Caloocan City, Metro Manila, Philippines,1410</div>
		<div>Telephone: (632) 788-6277 • (632) 287-8577</div>
		<div>Telefax: (632) 398-3855</div>
		<div>Email: rowenabox@brainchild.ph</div>
		<div class="copyright">
			Copyright © 2017 Brainchild Marketing Services
		</div>
	</footer>
	<script src="lib/jquery/jquery-1.11.3.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src='lib/angular/angular-route.min.js'></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/script.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js" ></script>
</body>
</html>