<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Brainchild Marketing Services</title>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/custom.css" />
</head>
<body ng-controller="mainController">
	<!-- Header -->
	<div class="topbar"></div>
	<div class="navbar">
		<div class="logobox pull-left">
			<a href="#!home" ng-click="menu=0">
				<img src="assets/images/logo.png" alt="Brainchild Marketing Services" class="logo">
			</a>
		</div>
		<div class="menubar">
			<ul class="menu pull-right">
				<li>
					<a href="#!aboutus" ng-class="{'active': menu == 1}" ng-click="menu=1;changeTitle(1)">About Us</a>
					<div class="circle1"></div>
				</li>
				<li>
					<a href="#!equipment" ng-class="{'active': menu == 2}" ng-click="changeTitle(2);menu=2">Equipment</a>
					<div class="circle2"></div>
				</li>
				<li>
					<a href="#!product" ng-class="{'active': menu == 3}" ng-click="changeTitle(3);menu=3">Product</a>
					<div class="circle3"></div>
				</li>
				<li>
					<a href="#!clients" ng-class="{'active': menu == 4}" ng-click="changeTitle(4);menu=4">Clients</a>
					<div class="circle4"></div>
				</li>
				<li>
					<a href="#!contact" ng-class="{'active': menu == 5}" ng-click="changeTitle(5);menu=5">Contact</a>
					<div class="circle5"></div>
				</li>
			</ul>
		</div>
	</div>

	<!-- Main -->
	<div class="main">
		<div class="about-img pull-right">
			<img src="assets/images/product-img.png">
		</div>
		<div class="title">
			<h2>PRODUCT LINE</h2>
		</div>
		<div class="container">
			<div class="col-md-6 content product">
				<div class="col-md-6 pl0">
					<ul>
						<li>T-shirt</li>
						<li>Jacket & Vest</li>
						<li>Office Uniforms</li>
						<li>Polo Jackets</li>
						<li>Caps</li>
						<li>Bags</li>
						<li>Jogging Pants</li>
						<li>Apron & Cutting Cape</li>
						<li>Scrub Suit</li>
						<li>Blazers</li>
						<li>Cover All</li>
						<li>Blanket & Pillow</li>
						<li>Mugs</li>
						<li>Clock</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li>Pens</li>
						<li>Keychain</li>
						<li>Umbrella</li>
						<li>Calendar</li>
						<li>Desk Items</li>
						<li>Swiss Knife</li>
						<li>Car shades</li>
						<li>Id lace</li>
						<li>Planner & Diaries</li>
						<li>Modules</li>
						<li>Made to order tables and chairs</li>
						<li>Made to order different kind of beds</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer>
		<div>167 P. Castillo Street, Maypajo, Caloocan City, Metro Manila, Philippines,1410</div>
		<div>Telephone: (632) 788-6277 • (632) 287-8577</div>
		<div>Telefax: (632) 398-3855</div>
		<div>Email: rowenabox@brainchild.ph</div>
		<div class="copyright">
			Copyright © 2017 Brainchild Marketing Services
		</div>
	</footer>
	<script src="lib/jquery/jquery-1.11.3.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src='lib/angular/angular-route.min.js'></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/script.js"></script>
</body>
</html>